/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header {
  border-bottom: 4px solid #888;
  padding-bottom: 12px;
}
header h1 {
  font-size: 32px;
  color: #008;
}

nav a, nav a:visited {
  color: black;
  font-size: 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: white;
  color: red;
}

footer {
  border-top: 4px solid #888;
  margin-top: 12px;
  padding-top: 12px;
  text-align: right;
}
